body {
    padding: 10px;
    background: #6441A5;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#appContainer {
    margin: auto;
    width: 50%;
    border: 1px solid;
    padding: 10px;
    background: #ad9bd0;
}

#logoContainer {
    display: flex;
    justify-content: center;
    background: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #6441A5;
}

#logoContainer img {
    width: 300px;
    height: 150px;
}

h1 {
    text-align: center;
}

.optionsContainer {
    padding: 10px;
    margin: 10px;
    background: white;
    border: 1px solid #6441A5;
    text-align: center;
}

.dynamicContainer {
    background: white;
    padding: 20px;
    margin: 10px;
    border: 1px solid #6441A5;
}

.dynamicContent img {
    border-radius: 100%;
    width: 50px;
}

a {
    text-decoration: none;
    color: black;
}
